﻿@model UserSignVM


<h1>Kullanıcı Girişi</h1>

@if (TempData["message1"] != null)
{
    <h3> @TempData["message1"]</h3>
}
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Giriş Yap" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ScriptPartial");}
}
